* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
      
      background-image:url("/resources/images/weather.jpg");
      padding: 15px;
      width: 100%;
      max-width: 320px;
  }

  .title {
      margin-bottom: 15px;
      text-align: center;         
  }
  #titleH {
    color: #fff;
  }
  .search{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  #searchCity {
    margin-right: 5px;
  }
  #location,
  #temperature,
  #icon,
  #description
   {
    text-align: center;
  }
  #location {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
  }
  #temp-value{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;

  }
  #temp-unit {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  #description{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  .control {
      margin-top: 30px;
  }


  


